# fly.toml app configuration file generated for chess-server on 2026-01-10T17:07:07Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chess-server'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8080
  force_https = true

  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  processes = ["app"]


[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
